<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Buscar persona</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='estilos/styles.css') }}"
    />
  </head>
  <body>
    <div class="dashboard-page">
      <div class="dashboard-card">
        <input type="checkbox" id="sidebarToggle" class="sidebar-toggle" />

        <aside class="sidebar collapsed">
          <label for="sidebarToggle" class="toggle-btn">↗</label>

          <nav class="sidebar-menu">
            <!-- PANEL PRINCIPAL (aparece tanto en admin como usuario) -->
            <a href="/menu" title="Panel principal">
              <img
                src="{{ url_for('static', filename='estilos/iconos/casa.png') }}"
                class="menu-icon"
              />
              <span class="menu-text">Panel principal</span>
            </a>

            <!-- CREAR (solo admin) -->
            {% if not ocultar_menu %} {% if rol_usuario|lower == "admin" %}

            <a href="/formulario_crear" title="Crear persona">
              <img
                src="{{ url_for('static', filename='estilos/iconos/Imagen4.png') }}"
                class="menu-icon"
              />
              <span class="menu-text">Crear persona</span>
            </a>

            {% endif %} {% endif %}

            <!-- ACTUALIZAR (Solo aparece si es usuario) -->
            <a
              href="/formulario_actualizar"
              title="Actualizar persona"
              class="active-link"
            >
              <img
                src="{{ url_for('static', filename='estilos/iconos/editar.png') }}"
                class="menu-icon"
              />

              <span class="menu-text">
                {% if rol_usuario|lower == "admin" %} Actualizar persona {% else
                %} Actualizar mis datos {% endif %}
              </span>
            </a>

            <!-- CONSULTAR (solo admin)-->
            {% if not ocultar_menu %} {% if rol_usuario|lower == "admin" %}

            <a href="/formulario_consultar" title="Consultar persona">
              <img
                src="{{ url_for('static', filename='estilos/iconos/buscar_persona.png') }}"
                class="menu-icon"
              />
              <span class="menu-text">Consultar persona</span>
            </a>

            <!-- ELIMINAR (solo admin)-->
            <a href="/formulario_eliminar" title="Eliminar persona">
              <img
                src="{{ url_for('static', filename='estilos/iconos/eliminar.png') }}"
                class="menu-icon"
              />
              <span class="menu-text">Eliminar persona</span>
            </a>

            <!-- LOGS (solo admin)-->
            <a href="/llamado_logs" title="Vista de logs">
              <img
                src="{{ url_for('static', filename='estilos/iconos/buscar.png') }}"
                class="menu-icon"
              />
              <span class="menu-text">Vista de logs</span>
            </a>

            {% endif %} {% endif %}
          </nav>

          <!-- LOGOUT -->
          <form action="/logout" method="post" class="logout-form">
            <button type="submit" title="Cerrar sesión">
              <img
                src="{{ url_for('static', filename='estilos/iconos/salida.png') }}"
                class="menu-icon"
              />
              <span class="menu-text">Cerrar sesión</span>
            </button>
          </form>
        </aside>

        <main class="dashboard-content">
          <div class="topbar">
            <div>
              <h1>Actualizar persona</h1>
              <p>Busca primero la persona que deseas modificar</p>
            </div>
          </div>

          <section class="consult-search-box">
            <div class="consult-search-card">
              <h2>Buscar persona</h2>
              <p>Ingresa el número de documento para cargar sus datos.</p>

              <form
                action="{{ url_for('buscar_actualizar') }}"
                method="get"
                class="consult-search-form"
              >
                <div class="field-box">
                  <label>Número de documento</label>
                  <input
                    type="text"
                    name="numero_documento"
                    maxlength="10"
                    pattern="[0-9]+"
                    required
                  />
                </div>

                <button type="submit" class="primary-btn search-person-btn">
                  Buscar persona
                </button>
              </form>
            </div>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
